<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460156669437-5d6vn8oqece5lto2go0mkqn4lvpanllv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460156669437-5d6vn8oqece5lto2go0mkqn4lvpanllv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>460156669437-n7trc0rglb8d4simvu0dlepa73vo635t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIpBz0Rc3MqGj4I4RmBsrPyxDaGUmsFuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>460156669437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thaimassageapp</string>
	<key>PROJECT_ID</key>
	<string>thaiapp-1267a</string>
	<key>STORAGE_BUCKET</key>
	<string>thaiapp-1267a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460156669437:ios:db82890250575c94015d94</string>
</dict>
</plist>